<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Astro Site</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/menu.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  </head>
  <body>
    <slot />
  </body>
</html>
