<h1>Welkom</h1>
<ul>
    <li><a href="/directus">Directus project / Pure astro</a></li>
    <li><a href="/react">React project</a></li>
    <li><a href="/svelte">Svelte project</a></li>
    <li><a href="/vue">Vue project</a></li>
</ul>